@(jotForms: org.json.JSONObject)

@import ch.insign.cms.blocks.jotformpageblock.service.JotFormService

<div class="modal-dialog" data-keyboard="false" data-backdrop="false" style="width: 750px;">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">@Messages("jotform.modal.title")</h4>
        </div>
        <div class="modal-body">
            <div id="jotform-succes-message" class="alert alert-success" style="display: none">@Messages("jotform.modal.alert.success")</div>
            <div id="jotform-error-message" class="alert alert-danger" style="display: none">@Messages("jotform.modal.request.error")</div>
            <table class="table table-striped table-bordered table-hover table-advance">
                <thead>
                <tr>
                    <th>@Messages("jotform.modal.head.id")</th>
                    <th>@Messages("jotform.modal.head.title")</th>
                    <th>@Messages("jotform.modal.head.created")</th>
                    <th>@Messages("jotform.modal.head.updated")</th>
                    <th>@Messages("jotform.modal.head.count")</th>
                    <th>@Messages("jotform.modal.head.actions")</th>
                </tr>
                </thead>
                <tbody>
                @Option(jotForms).filter(j => j != null).map(_.getJSONArray(JotFormService.JOT_FORM_KEY_CONTENT)).filter(e => e != null && e.length() > 0).map { forms =>
                    @for(i <- 0 to forms.length() - 1) {
                        <tr>
                            <td>
                                @Option(forms.getJSONObject(i)).filter(e => e != null).map(_.get("id"))
                            </td>
                            <td>
                                @Option(forms.getJSONObject(i)).filter(e => e != null).map(_.get(JotFormService.JOT_FORM_KEY_TITLE))
                            </td>
                            <td>
                                @Option(forms.getJSONObject(i)).filter(e => e != null).map(_.get(JotFormService.JOT_FORM_CREATE_DATE))
                            </td>
                            <td>
                                @Option(forms.getJSONObject(i)).filter(e => e != null).map(_.get(JotFormService.JOT_FORM_UPDATE_DATE))
                            </td>
                            <td>
                                @Option(forms.getJSONObject(i)).filter(e => e != null).map(_.get("count"))
                            </td>
                            <td>
                                @Option(forms.getJSONObject(i)).filter(e => e != null).map(_.get("id")).map { id =>
                                <span>
                                    <a href="#" class="btnAddJotform" data-add-url="@ch.insign.cms.blocks.jotformpageblock.controller.routes.JotFormController.add(Long.valueOf(id.toString)).url"
                                    data-table-content-url="@ch.insign.cms.blocks.jotformpageblock.controller.routes.JotFormController.tableContent.url">
                                        <i class="fa fa-plus"></i>
                                    </a>&nbsp;
                                </span>
                                <span>
                                    <a target="_blank" href="@ch.insign.cms.blocks.jotformpageblock.controller.routes.JotFormController.preview(Long.valueOf(id.toString))">
                                        <i class="fa fa-eye"></i>
                                    </a>&nbsp;
                                </span>
                            </td>
                        </tr>
                    }}}.getOrElse {
                <tr>
                    <td colspan="6" class="text-muted text-center">
                        <br><i class="fa fa-search text-muted"></i> &nbsp; @Messages("search.no.result")<br><br>
                    </td>
                </tr>
                }
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" data-dismiss="modal" id="edit-number-btn">@Messages("modal.close.btn")</button>
        </div>
    </div>
</div>



