@(email: String)

    @import ch.insign.cms.blocks.jotformpageblock.model.JotFormSubmissions

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th></th>
                    <th>@Messages("jotform.backend.user.submission.formId")</th>
                    <th>@Messages("jotform.backend.user.submission.formTitle")</th>
                    <th>@Messages("jotform.backend.user.submission.submissionId")</th>
                </tr>
            </thead>
            @Option(JotFormSubmissions.find.findByUserEmail(email)).filter(_.nonEmpty).map { submissions => @submissions.filter(l => l != null).map { log =>
                <tbody>
                    <tr>
                        <td style="width: 30px;" data-toggle="collapse" data-target=".row@log.getId" class="collapsed">
                            <i class="glyphicon glyphicon-chevron-right" style="cursor : pointer"></i>
                        </td>
                        <td>@Option(log.getFormId)</td>
                        <td>@Option(log.getFormTitle)</td>
                        <td>@Option(log.getSubmissionId)</td>
                    </tr>
                    <tr class="collapse row@log.getId">
                        <td style="width: 30px;">
                                &nbsp;
                        </td>
                        <td colspan="7">
                            <table class="table table-striped table-bordered table-hover">
                                @defining(log.getFormValues) { formValues =>
                                    <thead>
                                        <tr>
                                        @for((k, v) <- formValues) {
                                            <th>@k</th>
                                        }
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                        @for((k, v) <- formValues) {
                                            <td>@Html(v)</td>
                                        }
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </td>
                    </tr>
                </tbody>
            }}.getOrElse{
                <tr>
                    <td colspan="10" class="text-muted text-center">
                        <br><i class="fa fa-search text-muted"></i> &nbsp; @Messages("search.no.result")<br><br>
                    </td>
                </tr>
            }
        </table>
    </div>
