@import ch.insign.commons.db.Paginate
@import ch.insign.cms.blocks.reviewblock.models.ReviewSubmission
@import ch.insign.cms.blocks.reviewblock.controllers.routes
@import ch.insign.cms.blocks.reviewblock.controllers.ReviewFrontendController

@import ch.insign.commons.date.DateHelper
@import org.apache.commons.lang3.StringUtils
@(pages: Paginate[ReviewSubmission], page: Int)

@import ch.insign.cms.models.Template
@import ch.insign.cms.views.html._
@import helper._

@pages.getPage(page).getList.map { submission =>
	<li class="review-submission-item">
		<div class="row">
			<div class="col-sm-8 col-md-9 ratings-container">
				<div class="ratings-thumbs">
					<a href="#"
						data-url="@routes.ReviewFrontendController.changeRating(submission.getId, 1)"
						@if(submission.hasPositiveRating(ReviewFrontendController.getOrCreateUid)){ class="selected" }
						><i class="fa fa-fw fa-thumbs-o-up"></i></a>
					<a href="#"
						data-url="@routes.ReviewFrontendController.changeRating(submission.getId, -1)"
						@if(submission.hasNegativeRating(ReviewFrontendController.getOrCreateUid)){ class="selected" }
					><i class="fa fa-fw fa-thumbs-o-down"></i></a>
				</div>

				<div class="ratings-content">
					<p class="ratings-text">
						@Option(submission.getSplitedAnswer(250)).map{ splitedAnswer =>
							@splitedAnswer._1
							@if(splitedAnswer._2.nonEmpty) {
								<a href="#" class="show-more-btn" data-target=".js-details-@{submission.getId}">
									@Messages("frontend.review.submission.button.show_more")
								</a>
								<span class="js-details-@{submission.getId} show-more-content" style="display: none;">
									@splitedAnswer._2
								</span>
							}
						}
					</p>
					<p class="ratings-byline">
						<b>@submission.getDisplayName</b>, @DateHelper.dateFormatSwiss(submission.getCreatedOn)
					</p>

					@defining(submission.getAnswerRating) { rating =>
						<p class="ratings-helpfulness"
							@if(null == rating || rating <= 0) { style="display: none;" }>
							<span class="answer-rating">@rating </span>
							<span class="answer-rating-single" @if(rating != 1) { style="display: none;" }>@Messages("frontend.review.submission.answerRating.single.label")</span>
							<span class="answer-rating-multiple" @if(rating <= 1) { style="display: none;" }>@Messages("frontend.review.submission.answerRating.multiple.label")</span>
						</p>
					}
				</div>
			</div>
			<div class="col-sm-4 col-md-3">
				<div class="ratings-stars">
					@if(null != submission.getRating) {
						@for(i <- 1 to submission.getRating) {
							<span class="star"><i class="fa fa-star"></i></span>
						}@for(i <- 1 to (5 - submission.getRating)) {
							<span class="star"><i class="fa fa-star-o"></i></span>
						}
					}else{
						@if(ReviewFrontendController.canAddRatingToOldReview(submission)){
							<input class="ratingEditable" name="submissionRating_@submission.getId" type="hidden" value="0" data-id="@submission.getId">
						} else {
							@*for(i <- 1 to 5) {
								<span class="star"><i class="fa fa-star-o"></i></span>
							}*@
						}
					}
				</div>
			</div>
		</div>

		@if(StringUtils.isNotBlank(submission.getAdminAnswer)) {
			<div class="row">
				<div class="col-sm-8 col-md-9 col-md-offset-1 ratings-answer">
					<p>
						@Html(submission.getAdminAnswer)
					</p>
					<p class="ratings-byline">
						<b>@Messages("frontend.review.submission.adminAnswer.author")</b>, @DateHelper.dateFormatSwiss(submission.getAdminAnswerDate)
					</p>
				</div>
			</div>
		}
	</li>
}
