@(elements: views.html.helper.FieldElements)

@import play.api.i18n._
@import views.html.helper._

<div class="@if(elements.hasErrors) {has-error}">
    <label class="checkbox-inline" for="@elements.id">@elements.input <span>@elements.label</span></label>
    <span class="help-block errors">@elements.errors.mkString(", ")</span>
    <span class="help help-block hide">@if(elements.args.get('_help).isDefined){ @elements.infos.mkString(", ") }</span>
</div>