@import metronic._
@import ch.insign.cms.models.CMS
@import ch.insign.commons.db.MString

@(
		mstring: MString,
		theForm: Form[_],
		formKey: String,
		label: String,
		placeholder: String,
		params: String = "",
		typeaheadOptions: Map[String, String] = null,
		helperText: String = null
)

@hasOptions(lang: String) = @{
	(typeaheadOptions != null
			&& !typeaheadOptions.equals(Html.apply(""))
			&& typeaheadOptions.keySet.contains(lang))
}

@if(mstring != null && mstring.getId != null){
	<input type="hidden" name="@{formKey + ".id"}" value="@{mstring.getId}" />
}
@for(lang <- CMS.getConfig.frontendLanguages) {
	@defining(formKey + "." + lang){ mstringKey =>
		<div mstring-lang="@lang">
			@helper.input(
				theForm(mstringKey),
				'id -> mstringKey,
				'name -> mstringKey,
				'class -> "form-control mstring-tagsinput",
				'_label -> label,
				'placeholder -> placeholder
			) { (id, name, value, args) =>
				<input
					type="text"
					id="@id"
					name="@name"
					value="@value"
					data-params="@params"
					@if(hasOptions(lang)) { data-is_typeahead_params="1" data-typeahead_options="@typeaheadOptions(lang)" }
					@toHtmlArgs(args)
				/>
				@if(Option(helperText).nonEmpty) {
					<span class="help-block">@Html(helperText)</span>
				}
			}
		</div>
	}
}
