@import ch.insign.commons.db.MString
@(mstring: MString, label: String)

@import metronic._
@import ch.insign.cms.models.CMS

@if(mstring != null && mstring.getId != null) {
    @for(lang <- CMS.getConfig.frontendLanguages) {
    <div mstring-lang="@lang">
        <div class="form-group email-preview">
            <label class="col-md-3 control-label">@label</label>
            <div class="col-md-9">
                @Html(mstring.get(lang))
            </div>
        </div>
    </div>
    }
}
