@(
        root: ch.insign.cms.models.PageBlock,
        active: ch.insign.cms.models.PageBlock=null,
        level: Integer=0
)

@import ch.insign.cms.models.Template

@logger = @{ org.slf4j.LoggerFactory.getLogger("_navigation.scala.html") }

@if(root != null) {
    @if(root.getSubPages.size > 0) {
        <ul class="nav">
        @for(subPage <- Template.filterPermitted(root.getSubPages)) {
            <li @if(subPage == active){ class="active"}>
            <a href="@subPage.getNavItem.getURL">@subPage.getNavTitle</a>
            @_navigation(root = subPage, active = active, level = level+1)
            </li>
        }
        </ul>
    }
} else {
    @logger.warn("_navigation: No root node present")
}

