@(title: String=play.api.i18n.Messages("delete.block.modal.title"))

@import play.api.i18n.Messages;

<div id="confirm-delete-block" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">@title</h4>
            </div>
            <div class="modal-body">
                <p>@Html(Messages("delete.block.modal.confirm.delete.msg", "<span id=\"deletedBlockName\"></span>"))</p>
                <p><span id="inboundLinks"></span></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">@Messages("modal.cancel.btn")</button>
                <a href="#" class="btn btn-primary" id="confirmDelete" >@Messages("modal.delete.btn")</a>
            </div>
        </div>
    </div>
</div>
