/*Nestable Lists*/
.nestable-list-actions {
  display: none;
  position: absolute;
  z-index: auto;
  margin-top: -35px;
  padding-right: 10px;
  right: 0;
}
.nestable-list-actions a:hover {
  text-decoration: none;
  color: #4b8df8  ;
}
.dd-item:hover > .nestable-list-actions {
  display: block;
}
.dd-item-disabled .dd-handle, .dd-item-disabled .dd-handle:hover {
  border-color: #fff;
  color: #ccc;
}
.icon-edit-disabled {
  color: #ddd !important;
}

.icon-trash-disabled {
    color: #ddd !important;
}

.icon-plus-disabled {
    color: #ddd !important;
}

.icon-eye-open-disabled {
    color: #ddd !important;
}

.dd-handle {
  height: 40px;
  line-height: 26px;

}
.dd-item > button {
  margin: 10px 0;
}
.state-restricted {
    color: #c09853 !important;
}
.state-inactive {
    color: #b94a48 !important;
}
.state-active {
    color: #2b94a0 !important;
}
.state-future {
    color: #3a87ad !important;
}
.state-invisible {
    color: #b94a48 !important;
}