/* hidden controls */
[data-toggle="authz-switch"]>.btn>input[type="radio"] { display: none; }
.authz-switch .btn-inherit { display: none; }

/* inactive button */
.authz-switch .btn { color: gray; background: none; }

/* active button  */
.authz-switch .btn-allow.active { color: #009933 !important;  }
.authz-switch .btn-deny.active { color: #E60000 !important; }

/* default button */
.authz-switch .btn.default,
.authz-switch .btn.default:hover { color: gray; background: none !important; }
.authz-switch.not-selected .btn-allow.default,
.authz-switch.not-selected .btn-allow.default:hover { color: #009933; opacity: 0.5; }
.authz-switch.not-selected .btn-deny.default,
.authz-switch.not-selected .btn-deny.default:hover { color: #E60000; opacity: 0.5; }

/* visible if permission is unrestricted, i.e. allowed for all */
.restricted .visible-unrestricted { display: none; }

/* visible if permission is restricted */
.unrestricted .visible-restricted { display: none; }

/* visible if other button is active */
.authz-switch                   .active   .visible-inactive,
.authz-switch.not-selected      .default  .visible-inactive { display: none; }

/* visible if this button is active */
.authz-switch.not-selected                .visible-active,
.authz-switch              :not(.active)  .visible-active { display: none; }

/* visible if there are no active buttons, but this button represents default state */
.authz-switch.selected                    .visible-default,
.authz-switch              :not(.default) .visible-default { display: none; }

/* show forbidden cursor */
fieldset[disabled] .authz-switch,
.authz-switch .btn-allow.disabled,
.authz-switch .btn-deny.disabled    { cursor: not-allowed; pointer-events: auto; }