@(block: ch.insign.cms.models.AbstractBlock)

@import ch.insign.cms.models.Template
@import play.api.i18n.Messages;

@if(block.getInboundLinks.size>0) {
    @Messages("delete.block.inbound.links.attention.msg")
    <ul>
    @for(link <- block.getInboundLinks) {
        <li><a href="@link.getMyPage.getNavItem.getURL" target="_blank">@Template.nonEmpty(link.getMyPage.getNavTitle, link.getMyPage.getPageTitle, link.getMyPage.getNavItem.getURL, Messages("delete.block.inbound.links.page.without.title"))</a></li>
    }
    </ul>
    @Messages("delete.block.inbound.links.action.msg")
}else{
    @Messages("delete.block.inbound.links.not.found")
}

