@(item: ch.insign.cms.models.NavigationItem, editForm: Form[ch.insign.cms.models.NavigationItem], backURL: String, parentId: String="")


@import views.html.metronic._
@import ch.insign.cms.controllers
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.html.helpers.mstringTextarea
@import ch.insign.cms.views.html.helpers.mstring
@import ch.insign.cms.views.html.helpers.mstringForm

    DEPRECATED!!!

@layout(new AdminContext(), "Edit"){
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-sitemap"></i>
                Navigationspunkt erstellen
            </div>
        </div>
        <div class="portlet-body form">
            @* @helper.form(action = controllers.routes.NavigationController.save(id, parentId, backURL), 'class -> "form-horizontal") { *@
            @* @mstringForm(action = controllers.routes.NavigationController.save(item.getId, parentId, backURL), 'class -> "form-horizontal") *@ {

                <div class="form-body">

                    @if(item.getId != null) {
                    	<input type="hidden" name="id" value="@item.getId">
                    }

                    @text(
                        editForm,
                        "key",
                        "Key (required only for root nodes)",
                        ""
                    )

                    @* VIS? @editForm("visible").value(); *@

                    @*<input type="hidden" name="visible" value="false">*@

                    @helper.checkbox(
                        editForm("visible"),
                        '_label -> None,
                        '_value -> true,
                        '_text -> "Visible",
                        '_showConstraints -> false )


                    @text(
                        editForm,
                        "vpath",
                        "Virtual path",
                        "(starts with /)"
                    )

                    @*TODO: Use helper.checkbox*@
                    <div class="form-group ">
                        <label for="vpath" class="col-md-3 control-label">Redirect old path</label>
                        <div class="col-md-4">
                            <div class="make-switch">
                                <input type="checkbox" name="addToVpathHistory" value="true" class="toggle" />
                                <input type="hidden" name="addToVpathHistory" />
                            </div>
                        </div>
                    </div>



                    @daterange(
                        editForm
                    )



                </div>
            </div>
            <div class="form-actions fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-offset-3 col-md-9">
                            <input type="submit" class="btn green" value="Save">
                            <a href="@{backURL}" class="btn default">
                                Cancel
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
}
