@(task: ch.insign.commons.util.Task)

@import ch.insign.commons.util.Task
@import ch.insign.cms.controllers

@reviewStatusClass(reviewStatus: Task.ReviewStatus) = {
    @if(reviewStatus == Task.ReviewStatus.NEW) @{
        "btn-danger"
    }
    @if(reviewStatus == Task.ReviewStatus.IN_PROGRESS) @{
        "btn-warning"
    }
    @if(reviewStatus == Task.ReviewStatus.CLOSED) @{
        "btn-default"
    }
}

<div class="btn-group">
    <button type="button" class="btn @reviewStatusClass(task.getReviewStatus) dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        @Messages("tasks.review." + task.getReviewStatus) <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
        @Task.ReviewStatus.values().map { review =>
            @if(review != task.getReviewStatus) {
                <li><a class="link-change-review" href="#" data-url="@controllers.routes.TaskController.doChangeReviewStatus(task.getId, review.toString)">
                    @Messages("tasks.review." + review)
                </a></li>
            }
        }
    </ul>
</div>