@()

@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.playauth.views.helper._
@import ch.insign.cms.permissions.ApplicationPermission

@*
* Template for rebuilding search index
*@

@layout(new AdminContext()){
    <div class="row">
        <div class="col-md-12">
            <div class="portlet">
                <div class="portlet-title">
                    <div class="caption">
                        <i class="fa fa-search"></i>@Messages("admin.searchindex.title")
                    </div>
                    <div class="actions">
                        @hasPermission(ApplicationPermission.EXECUTE_MAINTENANCE_TASK) {
                            <form action="@ch.insign.cms.controllers.routes.SetupController.doRebuildSearchIndex()" method="post">
                                <button class="btn red">
                                    <i class="fa fa-refresh"></i> @Messages("admin.searchindex.renew_searchIndex")
                                </button>
                            </form>
                        }
                    </div>
                </div>

                <div class="portlet-body">

                </div>
            </div>
        </div>
    </div>
}

