@(results: ch.insign.commons.db.Paginate[ch.insign.commons.util.Task], page: Int, sortBy: String, order: String, filterByTag: String, filterByIsFinished: Int, reviewStatus: String)

@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.commons.util.Task.TaskFinder
@import ch.insign.cms.views.html.admin.utils.pagination
@import ch.insign.cms.views.html.admin.utils.messages
@import ch.insign.cms.views.html.admin.taskDetailView
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.controllers
@import ch.insign.commons.util.Task
@import scala.List
@import ch.insign.cms.views.html.helpers.dateTimeSwiss
@import java.util.Date
@import java.time.Instant;


    @icon(name: String, args: (Symbol, Any)*) = {
        @defining((args.toMap,"icon-" + name)) { case (args, name) =>
            <i @toHtmlArgs(args.get('class).map(v=> args + ('class -> (name + " " + v))).getOrElse(args + ('class -> name)))></i>
        }
    }

    @headerLink(itemsPerPage: Int, keySortBy: String) =@{
        var currentOrder = order
        var currentSortBy = sortBy

        if(itemsPerPage != 0) {
            currentSortBy = keySortBy
            if(sortBy == keySortBy) {
                if(order == "asc") {
                    currentOrder = "desc"
                } else {
                    currentOrder = "asc"
                }
            }
        }

        controllers.routes.TaskController.list(1, itemsPerPage, currentSortBy, currentOrder, filterByTag, filterByIsFinished, reviewStatus)
    }

    @header(key:String, title:String, isSort: Boolean) = {
        @if(isSort){
            <th class="@if(sortBy==key) { @if(order=="asc") {sorting_asc} else {sorting_desc}} else {sorting}">
                <a class="table_header" href="@headerLink(results.getItemsPerPage, key)">@title</a>
            </th>
        } else {
            <th>@title</th>
        }
    }

    @optionsFilterFinished(finishedStatus: Int, status: String) = {
        <option @if(filterByIsFinished == finishedStatus) {selected="selected"}  value="@finishedStatus" data-url="@controllers.routes.TaskController.list(1, results.getItemsPerPage, sortBy, order, filterByTag, finishedStatus, reviewStatus)">@status</option>
    }

    @selectRow() = {
        @if(results.getPage(page).getList != null && !results.getPage(page).getList.isEmpty) {
            <div class="pull-right">
                <label>
                    <select id="selectRowValue" name="selectRowValue" size="1" class="form-control input-small">
                    @for(selectedValue <- results.getShortItemsPerPageList) {
                        <option
                            @if(selectedValue == results.getItemsPerPage || results.getTotalItemCount == results.getItemsPerPage) { selected="selected" } value="@selectedValue" data-url="@controllers.routes.TaskController.list(1, selectedValue, sortBy, order, filterByTag, filterByIsFinished, reviewStatus)">
                        @if(selectedValue< 0) {
                            @Messages("tasks.select.row.all")
                        } else {
                            @selectedValue
                        }
                        </option>
                    }
                    </select>
                </label>
            </div>
        }
    }

	@* Common section - factor out? *@

	@formatVisibleDate(instant: Instant) ={
		@if(instant != null) {
			@dateTimeSwiss(Date.from(instant))
		} else {
			-
		}
	}

	@problemsRow(task: Task) = {
		@if(task.hasWarnings) {
			<span class="label label-warning">Warnings</span>
		}
		@if(task.hasErrors) {
			<span class="label label-danger">Errors</span>
		}
	}

	@statusRow(task: Task) = {
		@if(task.isFinished) {
			@if(task.isSuccess){
				<span class="label label-success">Completed</span>
			}else{
				<span class="label label-danger">Failed</span>
			}
		} else {
			<span class="label label-warning">Queued</span>
		}
	}

    @reviewStatusRow(reviewStatus: Task.ReviewStatus) = {
        @if(reviewStatus == Task.ReviewStatus.NEW) {
            <span class="label label-danger">@Messages("tasks.review." + reviewStatus)</span>
        }
        @if(reviewStatus == Task.ReviewStatus.IN_PROGRESS) {
            <span class="label label-warning">@Messages("tasks.review." + reviewStatus)</span>
        }
        @if(reviewStatus == Task.ReviewStatus.CLOSED) {
            <span class="label label-default">@Messages("tasks.review." + reviewStatus)</span>
        }
    }

	@* End of common section *@


@defining(new AdminContext) { ctx =>
    @layout(ctx){
         <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    @icon("list") @Messages("tasks.title")
                </div>
            </div>
            <div class="portlet-body form">
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group row">
                            <label for ="tagFilter" class="control-label col-md-2">@Messages("tasks.tagFilter.label")</label>
                            <select id="tagFilter" name="tagFilter" size="1" class="form-control input-medium col-md-10" >
                                <option @if(filterByTag.isEmpty) {selected="selected"}  value="" data-url="@controllers.routes.TaskController.list(1, results.getItemsPerPage, sortBy, order, "", filterByIsFinished, reviewStatus)">
                                    @Messages("tasks.select.option.filter.default")
                                </option>
                                @Option(Task.find.findAllTags()).filter(_.nonEmpty).map{ items =>@items.map{ item =>
                                    <option  @if(filterByTag.equals(item)){selected="selected"} value="@item" data-url="@controllers.routes.TaskController.list(1, results.getItemsPerPage, sortBy, order, item, filterByIsFinished, reviewStatus)">
                                        @item
                                    </option>
                                }}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group row">
                            <label for ="filterByIsFinished" class="control-label col-md-3">@Messages("tasks.isFinishedFilter.label")</label>
                            <select id="filterByIsFinished" name="filterByIsFinished" size="1" class="form-control input-medium col-md-9    ">
                                @optionsFilterFinished(TaskFinder.ALL_TASK, Messages("tasks.select.option.isFinishedFilter.status.all"))
                                @optionsFilterFinished(TaskFinder.OPEN_TASK, Messages("tasks.select.option.isFinishedFilter.status.open"))
                                @optionsFilterFinished(TaskFinder.FINISHED_TASK, Messages("tasks.select.option.isFinishedFilter.status.finished"))
                                @optionsFilterFinished(TaskFinder.FAILED_TASK, Messages("tasks.select.option.isFinishedFilter.status.failed"))
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        <div class="form-group row">
                            <label for="reviewStatus" class="control-label col-md-3">@Messages("tasks.search.reviewStatus.label"):</label>
                            <select id="reviewStatus" name="reviewStatus" size="1" class="form-control input-medium col-md-9    ">
                                <option @if(reviewStatus.isEmpty) {selected="selected"}  value="" data-url="@controllers.routes.TaskController.list(1, results.getItemsPerPage, sortBy, order, filterByTag, filterByIsFinished, "")">
                                    @Messages("tasks.select.option.filter.default")
                                </option>
                                @Task.ReviewStatus.values().map{ review =>
                                    <option @if(review.toString.equals(reviewStatus)) {selected="selected"}  value="@review.toString" data-url="@controllers.routes.TaskController.list(1, results.getItemsPerPage, sortBy, order, filterByTag, filterByIsFinished, review.toString)">
                                        @review.toString
                                    </option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12">
                        @selectRow()
                    </div>
                </div>

                @pagination(page, results.getPage(page), controllers.routes.TaskController.list(_, results.getItemsPerPage, sortBy, order, filterByTag, filterByIsFinished, reviewStatus))

                @messages(ctx)


                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
	                        @header("status", Messages("tasks.head.status"), false)
                            @header("reviewStatus", Messages("tasks.head.reviewStatus"), false)
                            @header("tag", Messages("tasks.head.tag"), false)
                            @header("created", Messages("tasks.head.created"), true)
	                        @header("tries", Messages("tasks.head.tries"), false)
	                        @header("firstTry", Messages("tasks.head.firstTry"), false)
                            @header("lastTry", Messages("tasks.head.lastTry"), false)
                            @header("scheduleAfter", Messages("tasks.head.scheduleAfter"), false)
                            @header("problems", Messages("tasks.head.problems"), false)
                            <th>@Messages("tasks.head.actions")</th>
                        </tr>
                    </thead>
                    <tbody>
                        @Option(results.getPage(page).getList).filter(_.nonEmpty).map{ items =>@items.map{ item =>
                            <tr>
	                            <td>@statusRow(item)</td>
                                <td>@reviewStatusRow(item.getReviewStatus)</td>
                                <td><a href="@ch.insign.cms.controllers.routes.TaskController.taskDetailView(item.getId)">@item.getTag</a></td>
                                <td>@formatVisibleDate(item.getCreated)</td>
                                <td>@item.getTries / @item.getMaxTries</td>
	                            <td>@formatVisibleDate(item.getFirstTry)</td>
	                            <td>@formatVisibleDate(item.getLastTry)</td>
	                            <td>@formatVisibleDate(item.getScheduleAfter)</td>
	                            <td>@problemsRow(item)</td>
                                <td>
                                    <div class="pull-right">
                                        @if(item.getNote != null && item.getNote.trim.length > 0) {
                                            <a class="popovers" data-trigger="hover" data-placement="left" data-content="@item.getNote" data-original-title="Note">
                                                <i class="fa fa-envelope"></i>
                                            </a>
                                        }
                                        <a title="@Messages("backend.label.delete")" href="#confirm-delete-@item.getId" role="button" data-toggle="modal">
                                            <i class="fa fa-trash"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                            <div id="confirm-delete-@item.getId" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                                    <h4 class="modal-title">@Messages("tasks.modal.delete.title")</h4>
                                </div>
                                <div class="modal-body">
                                    <p>@Messages("tasks.modal.delete.content")</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">@Messages("modal.cancel.btn")</button>
                                    <a href="@{ch.insign.cms.controllers.routes.TaskController.delete(item.getId, request.uri)}" class="btn red">@Messages("modal.delete.btn")</a>
                                </div>
                            </div>

                          }}.getOrElse {
                            <tr><td colspan="10">@Messages("tasks.no_results")</td></tr>
                        }
                    </tbody>
                </table>

                @pagination(page, results.getPage(page), controllers.routes.TaskController.list(_, results.getItemsPerPage, sortBy, order, filterByTag, filterByIsFinished, reviewStatus))

            </div>
        </div>
    }
}﻿
<script src="@ch.insign.cms.views.html.tags._asset("javascripts/tasksQueues.js")"></script>
