@(theForm: Form[_], formKey: String, label: String, arguments: (Symbol,Any)*)(implicit handler: views.html.helper.FieldConstructor, messages: play.api.i18n.Messages)

@import metronic._

@helper.input(
    theForm(formKey),
    arguments :+ ('_label, label) :+ ('id, formKey) :+ ('name, formKey) :+ ('class, "toggle") :_*
){ (id, name, value, args) =>
    <div class="make-switch">
        <input type="checkbox" name="@name" @if(value && value != Some("false")){checked} @toHtmlArgs(args) />
        <input type="hidden" name="@name" value="false" />
    </div>
}(handler, messages)