@(theForm: Form[_], formKey: String, label: String, helperText: String = null, width: Integer=300, additionalOptions: Html = Html.apply(""))

@import metronic._

@helper.input(
    theForm(formKey),
    'id -> formKey,
    'name -> formKey,
    'class -> "form-control",
    '_label -> label,
    'placeholder -> ""
) { (id, name, value, args) =>
    <input type="text" id="@id" name="@name" value="@value" @toHtmlArgs(args) style="width: @{width}px;display:inline;" />
    <a class="btn btn-primary image-upload" href="#"> Browse </a>
    @if(helperText != null){
        <span class="help-block">@helperText</span>
    }
}
