@import metronic._

@(theForm: Form[_], formKey: String, label: String, placeholder: String, options: Seq[(String, String)], helperText: String = "")

@helper.input(
    theForm(formKey),
    'id -> formKey,
    'name -> formKey,
    'class -> "form-control",
    '_label -> label,
    'placeholder -> placeholder
) { (id, name, value, args) =>
    <input type="text" id="@id" name="@name" value="@value" list="@id-datalist" @toHtmlArgs(args)>
    <datalist id="@id-datalist">
    @for(i <- options) {
        <option value="@i._1">@i._2</option>
    }
    </datalist>
    @if(!Option(helperText).isEmpty) {
        <span class="help-block">@Html(helperText)</span>
    }
}
