@(theForm: Form[_], formKey: String, label: String, placeholder: String, nameFunc: (String) => String, theme: String = "tinymce-default", helperText: String = null)

@import metronic._

@helper.input(
    theForm(formKey),
    'id -> nameFunc(formKey),
    'class -> ("form-control tinymce " + theme + " form-control"),
    '_label -> label,
    'placeholder -> placeholder
){ (id, name, value, args) =>
    <textarea id="@id" name="@nameFunc(name)" @toHtmlArgs(args)>@value</textarea>
    @if(Option(helperText).nonEmpty) {
        <span class="help-block">@Html(helperText)</span>
    }
}
