@import play.api.i18n.Messages;
@import ch.insign.cms.controllers

<div id="image-upload-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
            <h4 class="modal-title">@Messages("block.modal.imageUpload.title")</h4>
        </div>
        <div class="modal-body">
                <!-- preview action or error msgs -->
            <div class="preview" style="display:none"></div>
            <p>
                <!-- loader.gif -->
                <img style="display:none" id="image-upload-loader" src="@ch.insign.cms.views.html.tags._asset("frontend/img/loader.gif")" alt="Loading...." title="Loading...." />
                <!-- simple file uploading form -->
                <form id="image-upload-form" action="@controllers.routes.ImageUploadController.imageUpload()" method="post" enctype="multipart/form-data">
                    <input id="uploadImage" style="display:none;" type="file" accept="image/*" name="userfile" />
                    <label for="uploadImage" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i> @Messages("block.modal.imageUpload.title.selettFile")</label>
                </form>
            </p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">@Messages("modal.cancel.btn")</button>
            <a href="#" class="btn btn-primary disabled" id="confirmUpload" >@Messages("block.modal.imageUpload.confirmBtn")</a>
        </div>
    </div>
</div>
