@(partyForm: Form[_])(extension: Html=Html.apply(""))

@import helper.{options, inputPassword}
@import ch.insign.cms.views.html.helpers.mstring
@import helper._
@import ch.insign.cms.models.CMS
@import ch.insign.cms.models.CustomerEmailTemplate
@import ch.insign.cms.controllers.CmsContext
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.helpers.formKey
@import ch.insign.cms.views.html.helpers.formKeyAdditional
@import ch.insign.commons.i18n.Language
@import play.api.i18n.Messages;
@import ch.insign.cms.views.cms.templateCmsHorizontalAdminConstructor
@import ch.insign.cms.controllers.PartyController

@util.Javascript.add {
    <script>
            mstring.init ( " @Option(CmsContext.current).map(_.getLanguage).filter(_.nonEmpty).getOrElse(Language.getDefaultLanguage) ");
    </script>
}

@pageFooter = {
}

@layout(new AdminContext(), "", "", null, pageFooter) {
    @defining(PartyController.getCustomerEmailTemplateForm) { emailForm =>
        <div class="row">
            <div class="col-md-12">

                <div class="portlet">
                    <div class="portlet-title">
                        <div class="caption"><i class="fa fa-edit"></i>@Messages("backend.user.create.title")</div>
                    </div>
                    <div class="portlet-body">
                        @form(CMS.getRouteResolver.saveParty, 'class -> "form-horizontal", 'id -> "frm-create-user") {
                            @formKey()
                            @formKeyAdditional("customerEmailTemplates[].id")

                            <div class="form-body">
                                <div class="form-group">
                                    @inputText(
                                        partyForm("name"),
                                        'class -> "form-control",
                                        'placeholder -> Messages("backend.user.name"),
                                        '_label -> Messages("backend.user.name")
                                    )
                                </div>

                                <div class="form-group">
                                    @inputText(
                                        partyForm("email"),
                                        'class -> "form-control",
                                        'placeholder -> Messages("backend.user.email"),
                                        '_label -> Messages("backend.user.email"),
                                        'autocomplete -> "off"
                                    )
                                </div>

                                <div class="form-group">
                                    @inputPassword(
                                        partyForm("password"),
                                        'id -> "password",
                                        'class -> "form-control",
                                        'placeholder -> Messages("backend.user.password"),
                                        '_label -> Messages("backend.user.password"),
                                        'autocomplete -> "off"
                                    )
                                </div>

                                <div class="form-group">
                                    @inputPassword(
                                        partyForm("repeatPassword"),
                                        'id -> "repeat-password",
                                        'class -> "form-control",
                                        'placeholder -> Messages("backend.user.password.again"),
                                        '_label -> Messages("backend.user.password.again"),
                                        '_error -> partyForm.error("password")
                                    )
                                </div>

                                @ch.insign.cms.views.html.admin.customerEmailTemplate.customerEmailTemplateList(CustomerEmailTemplate.getEmailTemplatesCreateFrom, emailForm)

                                @extension

                            </div>

                            <div class="form-actions fluid">
                                <div class="col-lg-offset-3 col-md-offset-4 col-sm-offset-4 col-lg-9 col-md-8 col-sm-8">
                                    <button type="submit" class="btn red" id="btn-save-user">@Messages("btn.save")</button>
                                    <a href="@CMS.getRouteResolver.listParties" class="btn default">@Messages("btn.cancel")</a>
                                </div>
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    }
}
