@import ch.insign.cms.attributeset.views.html.backend._option_layout
@import ch.insign.cms.attributeset.model.{Attribute, OptionAttribute}

@(form: Form[OptionAttribute])


@metronic.text(
    form,
    "multiplicity",
    Messages("attribute.field.multiplicity"),
    Messages("attribute.placeholder.multiplicity")
)


====================== <br>

@defining(form.field("id").valueOr(null)) { attrId =>
    @if(attrId != null) {
        <a href="@ch.insign.cms.attributeset.controller.routes.OptionController.showAdd(attrId)" class="btn btn-default">@Messages("option.button.add")</a>
        <br>
        <div class="dd" id="nestable-options">
            @_option_layout(Attribute.find.byId(attrId).asInstanceOf[OptionAttribute].getOptions, attrId)
        </div>
        <input type="hidden" name="navorder" id="navorder_output">
        @util.Javascript.add{
            <script>
                    $("#attributeFormSubmit").click(function(){
                        $("#navorder_output").val(JSON.stringify($('#nestable-options').nestable('serialize')));
                    });

                    $('#nestable-options').nestable({
                        maxDepth: 2
                    });
            </script>
        }
    }

}