@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.models.CMS
@import ch.insign.cms.attributeset.controller.routes.AttributeController
@import ch.insign.cms.attributeset.model.Attribute

@(attributes: List[Attribute])

@pageFooter = {
    <script src="@{ch.insign.cms.views.html.tags._asset("backend/js/attribute.js")}"></script>
}

@defining(new AdminContext) { adminContext: AdminContext =>
    @layout(adminContext, title = Messages("attributes.link.title"), pageFooter = pageFooter) {
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list"></i> @Messages("attributes.link.title")
                </div>
                <div class="actions btn-group">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="icon-plus"></i> @Messages("attributes.index.add")
                    </button>
                    <ul class="dropdown-menu">
                        @for(klass <- CMS.getConfig.getAttributeClasses){
                            <li><a href="@AttributeController.showAdd(klass.getName)">@klass.getSimpleName</a></li>
                        }
                    </ul>
                    @*<a href="@AttributeController.showAdd" class="btn red">

                    </a>*@
                </div>
            </div>
            <div class="portlet-body">
                <table class="table table-striped table-hover table-advance" style="margin-top:20px">
                @for(attr <- attributes) {
                    <tr>
                        <td>@attr.getId</td>
                        <td>@attr.getName.get</td>
                        <td class="text-right">
                            <a title="@Messages("attributes.edit.link")" href="@AttributeController.showEdit(attr.getId)">
                                <i class="fa fa-pencil"></i>
                            </a>
                            @helper.form(AttributeController.delete(attr.getId),  'style -> "display:inline;", 'id -> ("delete-attribute-form-" + attr.getId)) {
                                <a title="@Messages("attributes.delete.link")" href="#" class="delete-attribute">
                                    <i class="fa fa-trash"></i>
                                </a>
                            }
                        </td>
                    </tr>
                }
                </table>
            </div>
        </div>

        <div id="modal-confirm-delete-attribute" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">@Messages("admin.delete.attribute.modal.title")</h4>
            </div>
            <div class="modal-body">
                <p>@Messages("admin.delete.attribute.modal.content")</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn default" data-dismiss="modal" aria-hidden="true">@Messages("modal.cancel.btn")</button>
                <a href="#" class="btn btn-primary" id="confirm-attribute-delete" >@Messages("modal.delete.btn")</a>
            </div>
        </div>
    }
}

