@import ch.insign.cms.attributeset.model.AttributeSet
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.html.helpers.{formKey, mstring}
@import ch.insign.cms.views.html.mstringFormBackend
@import ch.insign.cms.attributeset.helper.repeat
@import ch.insign.cms.attributeset.model.Attribute
@import metronic._
@import helper.select
@import ch.insign.cms.attributeset.controller.routes.AttributeSetController
@import ch.insign.commons.db.MString

@(form: Form[AttributeSet])

@scripts={
    <script>
        $(document).ready(function() {
            $("#addAttributePicker").click(function(){
                var container = $("#attributeContainer");
                var first = container.children().first();
                var next = first.clone();
                $("label", next).text("");
                $(".select2-container", next).remove();
                var select = $("select", next);
                container.append(next);
                select.select2();
                addRemoveButtonToFormRow(next);
            });

            $("#attributeContainer div.form-group").each(function(index){
                if (index == 0) return;
                addRemoveButtonToFormRow(this);

            });
        });

        var addRemoveButtonToFormRow = function(row){
            $(row).append('<div class="col-md-3"><div class="pull-right"><a class="btn blue removeRow" onclick="$(this).closest(\'.form-group\').remove();"><i class="fa fa-minus"></i></a></div></div>');
        };

    </script>
}
@layout(new AdminContext(), pageFooter = scripts) {
    @defining(form.field("id").valueOr(null)) { id =>
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="icon-list"></i>
                    @{
                        if(id == null) Messages("attributesets.add.title")
                        else Messages("attributesets.edit.title")
                    }
                </div>
            </div>
            <div class="portlet-body">
                @mstringFormBackend(
                    if(id == null) AttributeSetController.doAdd
                    else AttributeSetController.doEdit(id),
                    'class -> "form-horizontal"){
                    <fieldset>
                        <div class="form-body">
                            @metronic.text(
                                form,
                                "key",
                                Messages("attributeset.field.key"),
                                Messages("attributeset.placeholder.key")
                            )
                            
                            @mstring(new MString, form,
                                "name",
                                Messages("attributeset.field.name"),
                                Messages("attributeset.placeholder.name")
                            )


                            <div class="pull-right">
                                <a id="addAttributePicker" class="btn blue">
                                    <i class="fa fa-plus"></i>
                                </a>
                            </div>
                            <div id="attributeContainer">

                                @*
                                    IMPORTANT!!! It is vital that the name of the select fields contains no indices in the array.
                                    So, attributes[] is correct, but attributes[0] or attributes[1] will be wrong! For some
                                    reason the 'name arg has no influence on the name rendered in the select when using the
                                    traditional helper.select() helper. This is why I was forced to use the general helper.input()
                                    instead. If you manage to get it to work with the helper.select(), it would be better. -vz
                                *@
                                @repeat(form("attributes"), min = 1) { (index, attribute) =>
                                    @helper.input(
                                        attribute,
                                        'id -> ("attributes_"+index),
                                        'name -> "attributes[]",
                                        'class -> "form-control select2me",
                                        '_label -> (if(index==0) "Type" else "")
                                    ) { (id, name, value, args) =>
                                        <select name="attributes[]" id="@id" @toHtmlArgs(args)>
                                            @for(attr <- Attribute.find.all){
                                                <option value="@attr.getId" @if(attribute.value.toSet.contains(attr.getId)){selected="selected"}>@attr.getName</option>
                                            }
                                        </select>
                                    }

                                    @*select(
                                        attribute,
                                        Attribute.find.all.map((a) => (a.getId, a.getName.get)),
                                        '_label-> (if(index==0) "Type" else ""),
                                        'class -> "form-control select2me",
                                        'name -> "attributes[]",
                                        'id -> ("attributes_"+index)
                                    )*@
                                }
                            </div>
                        </div>
                    </fieldset>
                    <div class="form-actions fluid">
                        <div class="col-md-offset-3 col-md-8">
                            <button type="submit" class="btn red">@Messages("backend.btn.save")</button>
                            <a href="@AttributeSetController.index()" class="btn default">@Messages("backend.btn.cancel")</a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
}