@import ch.insign.cms.attributeset.model.Attribute
@import ch.insign.cms.views.admin.utils.AdminContext
@import ch.insign.cms.views.html.admin.shared.layout
@import ch.insign.cms.views.html.helpers.{formKey, mstring, mstringTagsinput}
@import ch.insign.cms.views.html.mstringFormFrontend
@import ch.insign.cms.attributeset.controller.routes.OptionController
@import ch.insign.cms.attributeset.controller.routes.AttributeController
@import ch.insign.commons.db.MString

@(
        form: Form[ch.insign.cms.attributeset.model.Option],
        attribute: Attribute,
        option: ch.insign.cms.attributeset.model.Option
)

@layout(new AdminContext()) {
    <div class="portlet">
        <div class="portlet-title">
            <div class="caption">
                <i class="icon-list"></i> @Messages("option.addOrEdit.title").replace("{0}", attribute.getName.get)
            </div>
        </div>
        <div class="portlet-body">
            @mstringFormFrontend(
                if(option == null) OptionController.doAdd(attribute.getId)
                else OptionController.doEdit(option.getId, attribute.getId),
                'class -> "form-horizontal"){
                <fieldset>
                    @formKey("name,id")
                    @if(option != null){
                        <input type="hidden" value="@option.getId" name="id">
                    }
                    <div class="form-body">

                        @mstring(new MString, form,
                            "name",
                            Messages("option.field.name"),
                            Messages("option.placeholder.name")
                        )

                        @mstringTagsinput(
                            Option(option).filter(_ != null).map(_.getSynonyms).orNull,
                            form,
                            "synonyms",
                            Messages("attribute.option.field.synonyms"),
                            "",
                            "{\"confirmKeys\": [13, 188]}",
                            null,
                            Messages("attribute.option.help.synonyms")
                        )

                    </div>
                </fieldset>
                <div class="form-actions fluid">
                    <div class="col-md-offset-3 col-md-8">
                        <button type="submit" class="btn red">@Messages("backend.btn.save")</button>
                        <a href="@AttributeController.doEdit(attribute.getId)" class="btn default">@Messages("backend.btn.cancel")</a>
                    </div>
                </div>
            }
        </div>
    </div>
}