/* here you can put your own css to customize and override the theme */

.chosen-container .chosen-drop {
    z-index: 10100;
}

.login .content .form-actions {
    border-bottom: 0px;
}

ul.nav-tabs > li > a > span.badge {
    position: absolute;
    right: -9px;
    top: 0px;
    z-index: 9994;
}

.header .user-nav > li.user > a,
.header .user-nav > li.dropdown.user > a.dropdown-toggle {
    line-height: 27px;
    padding-bottom: 7px;
    padding-top: 7px;
}

.header form {
    height: 27px;
}

.header form select {
    height: 27px;
    line-height: 27px;
    padding: 0 5px 0 5px;
    vertical-align: top !important;
}

.header form label {
    margin-left: 5px;
    padding-top: 1px;
    line-height: 27px;
    color: #ddd;
    font-size: inherit;
}

/* make sure drop-down menu is not overlapped by a fixed-positioned footer bar */
.multiselect-container::after {
    content: "";
    display: block;
    height: 40px;
}
.box-milesMore {
    border-top: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}
/*footer*/
.page-footer-fixed{
margin-top:10px;
}
/* ================== General Forms Overrides ================== */

.form-horizontal .radio {
    padding-top: 0px;
}
.radio-inline, .checkbox-inline {
    padding-left: 0px;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    margin-left: 0px;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline,
.radio-inline, .checkbox-inline {
    margin-left: 0px;
    margin-right: 10px;
}
.checkbox-list label {
    display: block;
}

/* Warning */
.password-strength-moderate {
  color: #C09853;
}
/* Error */
.password-strength-weak {
  color: #B94A48;
}
/* Success */
.password-strength-strong {
  color: #468847;
}

/* ================== Profile styles ================== */

.profile {
  margin-bottom: 15px;
  position:relative;
}
.profile p {
  color:#636363;
  font-size:13px;
}
.profile p a {
  color:#169ef4;
}
.profile label {
  margin-top:10px;
}
.profile label:first-child {
  margin-top:0;
}

/*profile information*/
.profile-info h1 {
  color:#383839;
  font-size:24px;
  font-weight:400;
  margin:0 0 10px 0;
}
.profile-info ul {
  margin-bottom:15px;
}
.profile-info li {
  color:#6b6b6b;
  font-size:13px;
  margin-right:15px;
  margin-bottom:5px;
  padding:0 !important;
}
.profile-info li i {
  font-size:15px;
}

.profile-info ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}
.profile-info ul ul {
    list-style-type: none;
}

/*order block*/
.order-block {
  background:#f7f7f7;
  border-bottom: solid 1px #ddd;
  overflow:hidden;
}
.order-block img {
    margin: 10px;
}
.order-block .form-group {
    margin-bottom: 0;
    margin-top: -7px;
}

/*order text*/
.order-text {
  overflow:hidden;
}
.order-text h4 {
}
.order-text img {
  float:left;
  margin-right:15px;
}
.order-text .order-text-info {
  overflow:hidden;
}
.order-text .order-text-info h4 {
    margin-top: 20px;
}

/*order button*/
.order-btn a {
  display:block;
  padding:37px 0;
  background:#ddd !important;
}
.order-btn a:hover {
  background:#D84A38 !important;
}
.order-btn span {
  color:#fff;
}

/*order info*/
.order-info {
  text-align: center;
  color:#616161;
  font-size:12px;
  padding:10px 15px;
}
.order-info.text-left {
    text-align: left;
}
.order-info label {
  font-size: 12px;
}
.order-info span {
  color:#16a1f2;
  display:block;
  font-size:14px;
  margin-top:27px;
  font-weight:200;
}

/*order pagination*/
.order-pagination .active {
    color: #333;
    font-weight: bold;
}
.order-pagination a, .order-pagination span {
    padding: 0 5px;
}

/*Nestable Lists */
.nestable-list-actions {
  display: none;
  position: absolute;
  z-index: 2000;
  margin-top: -30px;
  padding-right: 8px;
  right: 0;
}
.nestable-list-actions a:hover {
  text-decoration: none;
  color: #4b8df8;
}
.dd-item:hover > .nestable-list-actions {
  display: block;
}

/*User's Addresses*/
#address-tab table td.setDefault .icon-flag-alt {
    cursor: pointer;
}
#address-tab .row-details {
  margin-top: 3px;
  margin-right: 5px;
  display: inline-block;
  cursor: pointer;
  width: 14px;
  height: 14px;
}
#address-tab .row-details.row-details-close {
  background: url("../img/datatable-row-openclose.png") no-repeat 0 0;
}
#address-tab .row-details.row-details-open {
  background: url("../img/datatable-row-openclose.png") no-repeat 0 -23px ;
}
#address-tab .details {
  background-color: #eee;
  display: none;
}
#address-tab .details td {
  padding: 0px 8px;
  border: 0;
}
#address-tab .details tr:hover td {
  background-color: #eee;
}
#modal-edit-address .close {
  text-indent: -1000px;
  top:-22px;
}
.modal-overflow {
  height: 100%;
}

/* Email Templates */
textarea.email-template-text {
    height: 350px;
}

.frm-set-default-address button {
    margin:0px;
    font-size:10px;
}
.new_address_btn {
	padding-bottom: 10px;
}
.form-field-toggleable-btn {
  position: relative;
  left: -10px;
  top: -22px;
}
.chosen-container-active.chosen-with-drop .chosen-single, .chosen-container-single .chosen-single, .chosen-container-single .chosen-search input[type=text] {
  background-image: none;
  box-shadow: none;
  background-color: #fff;
}
.chosen-container-single .chosen-single {
  height: 34px;
  padding-top: 4px;
}
.chosen-container-active.chosen-with-drop .chosen-single {
  padding-top: 4px;
}
.chosen-container .chosen-results {
  background-color: #fff;
}

/* Contact entry */

.contact.first-name {
}

.contact.last-name {
}

.contact.email {
    color: #666666;
}
.contact.email:before {
    content: "<";
}
.contact.email:after {
    content: ">";
}
/* mstring tab error */
.tab-error a {
    color: #f00 !important;
}
/* Highlight Language Tabs */
.tabs-language .nav-tabs > li.active > a {
  background-color: #428bca;
  color: #fff;
  border-color: #357ebd;
}
/*Table Actions*/
.btn-table-action {
  float: right;
  padding: 7px 7px 7px 14px;
}
.btn-table-action:hover {
  text-decoration: none;
}
.table-scrollable {
  overflow-x: scroll;
}

.help-text {
    text-align: right;
}

.cache-status-title{
    padding-top: 10px;
}

.table-scrollable-auto {
    overflow-x: auto;
}

#modal-add-order .close {
  text-indent: -1000px;
  overflow: hidden;
}

.background-preview img {
    width: 300px;
}

#image-upload-modal .preview img {
    max-width: 100%;
    max-height: 300px;
}