@(role: Option[ch.insign.playauth.party.support.DefaultPartyRole], permissions: Map[String, List[ch.insign.playauth.authz.DomainPermission[_]]])

@import ch.insign.playauth.views.helper._
@import ch.insign.playauth.authz.DomainPermission
@import ch.insign.playauth.PlayAuth
@import ch.insign.playauth.PlayAuth.{ getAccessControlManager => acm }
@import ch.insign.playauth.PlayAuth.{ getPermissionManager => pm }
@import ch.insign.playauth.PlayAuth.{ getPartyRoleManager => prm }
@import ch.insign.playauth.PlayAuth.{ getCurrentParty => party }
@import ch.insign.playauth.PlayAuth.{ getObjectIdentity => toOid }
@import ch.insign.playauth.PlayAuth.{ getSecurityIdentity => toSid }
@import ch.insign.playauth.PlayAuth.{ isPermitted }
@import ch.insign.playauth.utils.AuthzFormHandler
@import ch.insign.playauth.authz.ObjectIdentity.{ ALL => ANYTHING }
@import ch.insign.playauth.authz.SecurityIdentity.{ ALL => ANYONE, UNKNOWN }
@import ch.insign.playauth.permissions.AclPermission.{ UPDATE_ACL }
@import ch.insign.playauth.permissions.PartyRolePermission.{ GRANT, REVOKE }
@import ch.insign.playauth.party.PartyRole

@isInherited(permission: DomainPermission[_]) = @{
    !acm.containsPermission(role.map(toSid).getOrElse(ANYONE), permission)
}

@isDirectlyAllowed(permission: DomainPermission[_]) = @{
    pm.getAllowedPermissions(role.map(toSid).getOrElse(ANYONE), permission.target)
            .map(pm.getQualifiedName(_))
            .exists(_.equals(pm.getQualifiedName(permission)));
}

@isDirectlyDenied(permission: DomainPermission[_]) = @{
    pm.getDeniedPermissions(role.map(toSid).getOrElse(ANYONE), permission.target)
            .map(pm.getQualifiedName(_))
            .exists(_.equals(pm.getQualifiedName(permission)));
}

@isAllowedByDefault(permission: DomainPermission[_]) = @{
    acm.isPermittedByDefault(role.map(toSid).getOrElse(ANYONE), permission)
}

@isDeniedByDefault(permission: DomainPermission[_]) = @{
    !isAllowedByDefault(permission)
}

@canGrantOrRevoke(p: DomainPermission[_]) = @{
    isPermitted(UPDATE_ACL(p.target))
}

@target(permission: DomainPermission[_]) = @{
    if(permission.target != ANYTHING) {
        Option(":" + permission.target.getType + "-" + permission.target.getIdentifier)
    } else {
        None
    }
}

@anchor(permission: DomainPermission[_]) = @{
    if(permission.target != ANYTHING) {
        permission.id + "-" + permission.target.getType + "." + permission.target.getIdentifier
    } else {
        permission.id
    }
}

@msg(key: String, args: Seq[scala.Any] = Seq()) = {@Html(Messages("roles.permissions." + key, args:_*))}
@tr(key: String, args: Seq[scala.Any] = Seq()) = {@Messages("roles.permissions." + key, args:_*)}

@permissionTitle(p: DomainPermission[_], specificTitle: Option[String] = None) = {
@specificTitle.map{ title =>
    @Html(Messages(p.id + ".specific_title", title))
}.getOrElse {
    @Html(Messages(p.id + ".plural_title"))
}
}

@permissionEntry(p: DomainPermission[_], specificTitle: Option[String] = None) = {
@defining(AuthzFormHandler.generateAuthzInputName(role.map(toSid).getOrElse(UNKNOWN), p.id)) { inputName =>
    <fieldset @if(!canGrantOrRevoke(p)) { disabled="disabled" title="@tr("grant-and-revoke.forbidden")" }>
    <div class="input-group permission" data-is-permitted-by-default="@acm.isPermitted(role.getOrElse(ANYONE), p)">
        <div class="btn-group authz-switch @if(isInherited(p)) { not-selected } else { selected }" data-toggle="authz-switch">

            <label class="btn btn-xs btn-allow @if(isDirectlyAllowed(p)){ active } @if(isAllowedByDefault(p)){ default }">
                <input type="radio" class="toggle" name="@inputName" value="allow@target(p)" @if(isDirectlyAllowed(p)){ checked }>

                <span class="visible-inactive glyphicon glyphicon-ok-circle" title="@msg("allow.label")"></span>
                <span class="visible-active glyphicon glyphicon-ok-circle" title="@msg("allowed.label")"></span>
                <span class="visible-default glyphicon glyphicon-ok-circle" title="@msg("allowed-by-default.label")"></span>
            </label>

            <label class="btn btn-xs btn-deny @if(isDirectlyDenied(p)){ active } @if(isDeniedByDefault(p)){ default }">
                <input type="radio" class="toggle" name="@inputName" value="deny@target(p)" @if(isDirectlyDenied(p)){ checked }>

                <span class="visible-inactive glyphicon glyphicon-ban-circle" title="@msg("deny.label")"></span>
                <span class="visible-active glyphicon glyphicon-ban-circle" title="@msg("denied.label")"></span>
                <span class="visible-default glyphicon glyphicon-ban-circle" title="@msg("denied-by-default.label")"></span>
            </label>

            <label class="btn btn-xs btn-inherit fallback @if(isInherited(p)){ active }">
                <input type="radio" class="toggle" name="@inputName" value="inherit@target(p)" @if(isInherited(p)){ checked }>
            </label>
        </div>
        <label id="@anchor(p)">
        @permissionTitle(p, specificTitle)
        </label>

        @defining(pm.resolvePermissionsAllowedBy(p)) { ps =>
            <p class="help-block">
                @if(ps.nonEmpty) {
                    @{msg("implies-other-permissions",
                        Seq(permissionTitle(p),
                            ps.size,
                            ps.map(p => msg("implies-other-permissions.item", Seq(permissionTitle(p), anchor(p)))).mkString(", ")))}
                }
            </p>
        }
    </div>
    </fieldset>
}
}

@permissions.map { case (domain, ps) =>
<fieldset>
    <legend>@Messages(domain + ".plural_title")</legend>
    @ps.map { p =>
        @permissionEntry(p)
        @if(p.id == GRANT.id || p.id == REVOKE.id) {
            @prm.findAll.map { role =>
                @permissionEntry(pm.applyTarget(p.asInstanceOf[DomainPermission[Any]], role), Option(role.getName))
            }
        }
    }
</fieldset>
}
