@(data: ch.insign.cms.blocks.jotformpageblock.JotFormPageBlock, editForm: Form[_], backURL: String)(extension: Html=Html.apply(""))

@import ch.insign.cms.blocks.jotformpageblock.model.JotForm
@import ch.insign.cms.views.html.admin._
@import ch.insign.cms.models.CMS
@import helper._
@import views.html.helper.options
@import ch.insign.cms.views.cms.templateCmsHorizontalAdminConstructor
@import ch.insign.commons.util.Configuration


@pageBlockEdit(data, editForm, backURL, null, null) {

    @if(data.getJotFormId != null && data.getJotFormId.getId != null){
        <input type="hidden" name="@{"jotFormId.id"}" value="@{data.getJotFormId.getId}" />
    }

    @for(lang <- CMS.getConfig.frontendLanguages) {
        <div mstring-lang="@lang">
            @defining("jotFormId" + "." + lang){ mstringKey =>
                @select(
                    editForm(mstringKey),
                    options = JotForm.find.all().filter(f =>
                        f.getApiFormTitle != null &&
                                f.getJotFormApiKey != null &&
                                f.getJotFormApiKey.equals(Configuration.getOrElse("jotform.api.key", ""))
                    ).map(form => (String.valueOf(form.getApiFormId), form.getApiFormTitle)).toSeq,
                    '_label -> Messages("jotform.backend.forms.label"),
                    'class -> "form-control select2me",
                    '_default -> ""
                )
            }
        </div>
    }

    <div class="form-group ">
        <div class="col-lg-offset-3 col-md-offset-4 col-sm-offset-4 col-lg-6 col-md-8 col-sm-6">
            <label class="checkbox">
                <input type="checkbox" id="syncEmail" name="syncEmail" @(if(editForm("syncEmail").value.equals("true")) "checked") value="true" />
                <input type="hidden" name="syncEmail" value="false" />
                @Messages("jotform.backend.syncEmail.label")
            </label>
        </div>
    </div>

    @extension
 }