@(elements: views.html.helper.FieldElements)

<div class="@if(elements.hasErrors) {has-error}">
    <label for="@elements.id">@elements.label</label>
    @elements.input
    <span class="help-block errors">@elements.errors.mkString(", ")</span>
    <span class="help help-block hide">@elements.infos.mkString(", ")</span>
</div>